footer .icons,
footer .links{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 30%;
    margin: 20px auto;
}

.icons .icon{
    width: 30px;
}
footer .links a{
    color: #000;
}
p{
    text-align: center;
    margin: 20px;
}

/* media query */
@media screen and (max-width: 600px){
    footer .links{
        font-size: 14px;
        width: fit-content;
    }
    p{
        font-size: 14px;
    }
}