footer .icons,
footer .links{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 70%;
    margin: 20px auto;
}
.links a{
    font-weight: 700;
    font-size: 18px;
}
.icons .icon{
    width: 30px;
}
footer .links a{
    color: #000;
}
p{
    text-align: center;
    margin: 20px;
}

/* media query */
@media screen and (max-width: 600px){
    footer .links{
        gap: 15px;
        width: fit-content;
    }
    .links a{
        font-size: 14px;
    }
    p{
        font-size: 14px;
    }
}