.hero-wrapper{
    background-position: center;
    padding: 10px 30px;
    position: relative;
    height: 100vh;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, .5);
    padding: 15px 40px;

}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.header-logo a{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header-logo a img{
    width: 50px;
}
.header-logo h2{
    color: #fff;
}

.signin{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
form{
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
}
form input{
    width: 500px;
    border: 0;
    padding: 10px;
    height: 45px;
    background: transparent;
    color: #fff;
}

::placeholder{
    color: #fff;
}
form input:focus{
    outline: none;
}

form button{
    border: 0;
    outline: none;
    cursor: pointer;
}

.hero-wrapper .text button{
    background-color: red;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    height: 40px;
    width: fit-content;
    border-radius: 8px;
    color: #fff;
    outline: none;
    border: 0;
    cursor: pointer;
}
.hero-wrapper .text button:hover{
    opacity: .8;
}
.hero-section{
    width: 45%;
    margin-top: 20vh;
}
.hero-section .text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.text h2{
    font-size: 30px;
}
.tips{
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tips div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.tips div img{
    width: 30px;
}

.summary{
    line-height: 25px;
}

/* Media query */
@media screen and (max-width:787px) {
    form input{
        width: 300px;
    }
    .hero-section{
        width: 70%;
        margin-top: 15vh;
    }
}

@media screen and (max-width:600px) {
    .hero-wrapper{
        padding: 15px;
    }
    form input {
        width: 200px;
    }
    .hero-wrapper{
        height: 800px;
    }
    .header-logo h2{
        display: none;
    }
    .signin h3{
        display: none;
    }
    .hero-section{
        width: 90%;
        margin-top: 8vh;
    }
}